[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# backports-abc = "*"
beautifulsoup4 = "*"
# boto = "*"
bz2file = "*"
# click = "*"
# decorator = "*"
# funcsigs = "*"
gensim = "*"
h5py = "*"
# itsdangerous = "*"
joblib = "*"
jupyter-client = "*"
jupyter-core = "*"
matplotlib = "*"
# mock = "*"
nltk = "*"
numpy = "==1.11.2"
patsy = "*"
pbr = "*"
# pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pyparsing = "*"
# python-dateutil = "*"
pytz = "*"
pyzmq = "*"
# requests = "*"
scikit-learn = "==0.17.1"
scipy = "*"
# simplegeneric = "*"
# singledispatch = "*"
#six = "*"
# smart-open = "*"
# statsmodels = "*"
# tornado = "*"
# traitlets = "*"
# wcwidth = "*"
# "backports.shutil_get_terminal_size" = "*"
# Cycler = "*"
Flask = "*"
Jinja2 = "*"
Keras = "==1.1.0"
MarkupSafe = "*"
Theano = "==0.8.2"

[requires]
python_version = "2.7"
